.generator-container {
  background-color: #efefef;
  padding: 3rem;
  border-radius: 1rem;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #080706;
}

.form {
  display: grid;
  font-size: 15px;
  font-family: "Raleway";
  grid-template-columns: auto auto;
  row-gap: .25rem;
  column-gap: 1.5rem;
  justify-content: center;
  align-items: center;
}

.password-placeholder {
  font-family: "Raleway Light";
  color: #b0b0b0;
  text-align: center;
}


.generated-password {
  font-family: "Raleway Bold";
  color: #060504;
  text-align: center;
}

.generator-title {
  margin-bottom: .5rem;
  font-family: "Raleway Bold";
  text-align: center;
}

.character-amount-container{
  display: flex;
  justify-content: center;
}

.number-input {
  width: 3rem;
  margin-left: 1rem;
}

.password-display {
  background-color: white;
  border: 1px solid #060504;
  height: 3.25rem;
  width: 375px;
  word-break: break-all;
  border-radius: .5rem;
  cursor: pointer;
}

.btn {
  grid-column: span 2;
  background-color: transparent;
  border: 2px solid #080706;
  color: #080706;
  padding: .5rem 1rem;
  font-weight: bold;
  cursor: pointer;
  border-radius: 1rem;
  margin-top: 1rem;
}

.btn:hover{
  background-color: #b0b0b0;
}

.animated-container{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 30px;
  margin-top: 1rem;
}

.message {
  color: #06050488;
}

